@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*===
1.Color schemes
2.Typography
3.Icons
===*/



/*1.Color schemes*/
$bg-main: #fff;
$bg-accent: #2680EB;



/*2.Typography*/
$cl-100: #fff;
$cl-300: #6E707F;
$cl-350: #707070;
$cl-400: #40435D;
$cl-600: #282B2E;
$cl-650: #1b1b1b;

//colorful
$cl-blue: #2680EB;

//special
$cl-tlen: #649DFF;
$cl-node: #32af27;
$cl-divider: #aeaeae;

//font family
$ff-main: 'Roboto', sans-serif;
