/*===
1.Color schemes
2.Typography
3.Icons
===*/



/*1.Color schemes*/
$bg-main: #fff;
$bg-accent: #2680EB;



/*2.Typography*/
$cl-100: #fff;
$cl-300: #6E707F;
$cl-400: #40435D;
$cl-600: #282B2E;

//colorful
$cl-blue: #2680EB;

//special
$cl-tlen: #649DFF;
$cl-react: #005DFF;
